<!--

      Client-side Javascript
      ========================

      You can import any js files in your `assets` directory as you would
      normally: using <script></script> tags.

      Here's an example of importing a few dependencies, in order:
    -->

<!--SCRIPTS-->
<script src="/js/socket.io.js"></script>
<script src="/js/sails.io.js"></script>
<script src="/js/app.js"></script>
<script src="/js/jquery.js"></script>
<!--SCRIPTS END-->
<script src="/js/bootstrap.min.js"></script>




<!--

  Looking for client-side CoffeeScript or TypeScript?
  ================================================

  CoffeeScript and TypeScript precompilation are not installed by default,
  but if you'd like to mix those features in, it is straightforward to
  `npm install` the relevant grunt community modules and modify your Gruntfile
  to use them.

-->

<!--

  Another way: The Asset Linker
  ========================

  Sails supports a Grunt-based asset linker, to automatically inject
  <link> and <script> tags, as well any client-side templates you're using
  into your HTML layouts and views, respecting dependencies.

  You created this Sails app with the asset linker disabled.
  If you change your mind, check out the docs on the subject:
  http://sailsjs.org/#!documentation/asset-management

-->
</body>
</html>
