<div class="panel panel-default">
    <div class="panel-heading">Upload Image</div>
    <div class="panel-body">
        <% if(typeof image !== 'undefined') { %>
            <img src="/images/<%= image %>" alt="<%- image %>" width="538"/>
        <% } else { %>
            <p>No Image</p>
        <% } %>

        <form method="post" enctype="multipart/form-data">
            <p><input type="file" name="image"/></p>
            <p><input type="submit" value="Upload" class="btn btn-primary"/></p>
        </form>
    </div>
</div>
