<div class="panel panel-default">
    <div class="panel-heading">Upload Image</div>
    <div class="panel-body">
        <% if(typeof image !== 'undefined') { %>
            <img src="/images/<%= image %>" alt="<%- image %>" width="538"/>
        <% } %>

        <form method="post" enctype="multipart/form-data">
            <label for="imageInput">Select image to upload:</label>
            <p><input id="imageInput" type="file" name="image" class="form-control"/></p>
            <p><input type="submit" value="Upload" class="btn btn-primary"/></p>
        </form>
    </div>
</div>
