<div class="jumbotron">
    <div class="container">
        <h1><%= site.site_name %></h1>
        <p><%= site.description %></p>
        <!--<p><a class="btn btn-primary btn-lg">Learn more</a></p>-->
    </div>
</div>